* {
  margin: 0;
  padding: 0;
}

body{
  background: #000 url(img/background.avif); /* Фоновый цвет и фоновый рисунок*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    background-size: 100%;
}

header {
  text-align: center;
  margin: 30px 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 1px 20px red ;
  font-size: 40px;
}

.about_races {
  margin: 0px 150px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: start;
  text-align: center;
  gap: 20px;
  box-sizing: border-box;
}

.h2_container{
  grid-column: span 3;
  border: solid black 2px;
  background-color: rgb(224, 189, 146);
  width: 92.5%;
  font-size: 30px;
  padding: 5px;
}

.races_images {
  width: 400px;
  height: 500px;
  border: solid black;
}

.figcaption_text {
  font-size: 22px;
  background-color: rgb(224, 189, 146);
  border: solid black;
}

.about_races_text{
  border: solid black;
  height: 700px;
  padding: 5px;
  font-size: 18px;
  background-color: rgb(224, 189, 146);
}

.about_races_text p {
  text-align: left;
  text-indent: 10%;
  width: 400px;
}

.chat_box {
  background-color: rgb(224, 189, 146);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.chat_box h2, div, ul {
  margin: 10px;
}

footer{
  display: flex;
  justify-content: space-between;
  background-color: rgb(224, 189, 146);
  margin-top: 20px;
  padding: 0px 25px;
  font-size: 26px;
  text-shadow: -1px 1px 20px rgb(4, 0, 255) ;
}
