* {
  margin: 0;
  padding: 0;
}

body{
  background: #000 url(img/background.avif); /* Фоновый цвет и фоновый рисунок*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    background-size: 100%;
}

header {
  text-align: center;
  margin: 30px 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 1px 20px red ;
  font-size: 40px;
}

.about_races {
  margin: 0px 150px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: start;
  text-align: center;
  gap: 20px;
  box-sizing: border-box;
}

.races_images {
  width: 400px;
  height: 500px;
  border: solid black;
}

.figcaption_text {
  font-size: 30px;
  background-color: rgb(224, 189, 146);
  border: solid black;
}

.about_races_text{
  border: solid black;
  height: 700px;
  padding: 5px;
  font-size: 18px;
  background-color: rgb(224, 189, 146);
}

.about_races_text p {
  text-align: left;
  text-indent: 10%;
  width: 400px;
}

